  <section class="section gallary__section">
    <div class="container gallary__container" id="gallary">
      <ul class="film-card__list list-no-ls">
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"  
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>
            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>
            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>
            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>
            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>

            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="film-card__item" data-id="{{id}}">
        <a href="" class="film-card__link link-no-tdn">
          <div class="film-card__thumb">
            <img
              src="./images/no-image-available@1x.png"
              alt="{{title}} {{name}}"
              width="100%"
              data-id="{{id}}"
            />
          </div>
          <div class="film-card__content">
            <h2 class="film-card__title">Title</h2>
            <p class="film-card__text"><span>Genres</span> | <span>Date</span></p>
            <div class="film-card__rating--wrapper">
              <span class="film-card__rating">10.0</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
