<!-- HEADER LIBRARY SECTION -->
<header class="header library-header-img">
    <div class="container">
        <nav class="header__site-nav">

            <a class="logo list-no-ls link-no-tdn" href=""> 
                <img class="logo__svg" src="./images/sprite/logo.svg" alt="logo">
                <span class="logo__text ">Filmoteka</span>
            </a>

            <ul class="header__nav_links list-no-ls">
                <li class="header__nav_list_item ">
                <button 
                type="button" 
                class="header__home_link site-nav__link current">home</button>
                </li>

                <li class="header__nav_list_item">
                <button type="button" 
                class="header__lib_link site-nav__link">my library</button>
                </li>
            </ul>
            
            
        </nav>

            <div class="header__library_btm">
                <button class="header__library_btm_item transparent-btn">Watched</button>
                <button class="header__library_btm_item ">Queue</button>
            </div>

    </div>
</header>